<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
     <import resource="hibernate_applicationContext.xml"/>
    <import resource="repository_applicationContext.xml"/>
    <import resource="service_applicationContext.xml"/>
    <import resource="action_applicationContext.xml"/>
    
</beans>